<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="uc" connectionString="Data Source=DESKTOP-9TBVM5Q;Initial Catalog=UNNOYON_CHAI;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>